[defaults]
gathering=smart
fact_caching=jsonfile_pillar
fact_caching_connection=/tmp/ansible_facts
fact_caching_timeout=7200
# vars_plugins configuration is required for the pypillar
action_plugins = /usr/lib/python2.7/site-packages/pypillar/plugins/actions
cache_pgins = /usr/lib/python2.7/site-packages/pypillar/plugins/caches
vars_plugins = /usr/lib/python2.7/site-packages/pypillar/plugins/vars
# using ":" to spearate multi path
library = /usr/lib/python2.7/site-packages/pypillar/modules
